@font-face{
  font-family: "Inconsolata";
  src: url(../Fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face{
  font-family: "Gabriela";
  src: url(../Fonts/Babe.ttf);
}
@font-face{
  font-family: "Offers";
  src: url(../Fonts/ADELIA.otf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 20px 0;
  font-family: "Inconsolata";
}
img {
  display: block;
  width: 100%;
}
.main-header {
  padding: 0 20px;
}
.main-header__title{
  text-align: center;
    font-size: 3em;
    margin: 10px 0;
    font-family: "Gabriela";
    cursor: pointer;
    font-weight: bold;

    background: #ccc;
    background: linear-gradient(90deg, #7cdfd6, rgb(235, 108, 127));
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.main-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__link {
  color: #333;
  padding: 0 10px;
}
.main-header__txt{
  font-family: "Offers";
  font-size: 50px;
  color: rgb(245, 182, 182);
}

/* Estilos del Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}
.menu{
  position: absolute;
  top: 180px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto;
}
.menu__link {
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.icon-menu{
  font-size: 1.5em;
  border: 1px solid white; 
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
  color: rgb(49, 46, 46); 
}
.main-header__btn{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  font-weight: bold;
  
  
}
.main-header__btn:hover{
  background: lightpink;
  box-shadow: 0 0 10px lightpink, 0 0 20px lightpink, 10 10 40px lightpink;
  color: black;
  transition-delay: 0.35s;
}
.main-header__btn span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, lightpink);
}
.main-header__btn:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, lightpink);
}
.main-header__btn:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, lightpink);
}
.main-header__btn:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, lightpink);
}
.main-header__btn:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75;
}
input.main-header__input{
  display: block;
  padding: 6px;
  outline: none;
  font-size: 18px;
  border-radius: 15px;
  color: #444;
  border: 3px solid lightpink;

  width: 100%;
  transition: all .5s;
}
.main-header__input:hover {

  background-color: #fff;
    border-color: #3d6a6d;
  box-shadow: 0 0 5px #6dcff680;
}

.main {
  padding: 0 20px;
}

/* Contenedor de Productos */

.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.product:before {
  content: "SET";
  background: lightpink;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: black;
  font-weight: bold;
}

.product__img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.product__title{
  text-align: center;
}
.product__price {
  color:gray;
  font-weight: bold;
}
.product__icon {
  display: block;
  margin-top: 10px;
}
.product:hover .product__icon {
  color:palevioletred;
}

/* ESTILOS DE PRODUCTOS */

.main-footer{
  background: #151515;
  color: white;
  padding: 30px 20px;
}
.footer__title{
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer__txt {
  color: #555;
}
.footer__link{
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.footer__input{
  background: #151515;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid #555;
}
.copy {
  color: #555;
}

/* Estilos Segunda Pagina */

.breadcrumb_collection {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 35%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Inconsolata";
  
}

.breadcrumb_collection .text-image{
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 200px 0px;

  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.text-image{
  text-align: center !important;
}
.breadcrumb_collection .text-image .Sets .Shop_Text{
  font-size: 70px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: relative;
  line-height: 1.2;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.wrap-bread-crumb .bread-crumb{
  padding: 0px 0px 30px;
}
.wrap-bread-crumb .text-image .bread-crumb a{
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
}
.wrap-bread-crumb .text-image .bread-crumb a i{
  padding: 0px 10px;
  display: inline-block;
  font-style: normal;
    font-variant: normal;
    line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.breadcrumb_collection .text-image .bread-crumb strong{
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
}


/*Estilos para tablet*/
@media screen and (max-width:720px) {
  .breadcrumb_collection .text-image{
    height: 300px;
    background-size: 100% 100%;
    padding: 80px 0;
  }
  .editor__item{
    height: 250px;
  }
  .container-tips{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(1.9, 1fr);
  }
  .tip{
    padding: 1px;
    }
    .main-header__txt{
      display: none;
    }
    .main-header__btn{
      position: relative;
      bottom: 85px;
      right: 1px;
      color: #555;
      display: none;
    }
    .main-header__link {
      display: none;
    }
    .main-header__input {
      position: relative;
      right: 20px;
      top: 10px;
    }
    .main-header__title { 
      position: relative;
      left: 90px;
      font-size: 40px;
    }
    .cart-media {
      position: relative;
      bottom: 70px;
      height: 50px;
      width: 50px;
    }
  }
/*Estilos para web*/

@media screen and (min-width:1024px) { 
  .container{
    width: 1000px;
    margin: auto;
  }
  .icon-menu {
    display: none;
  }
  .cart-media {
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
    padding: 0 20px;
  }
  .main-header__title {
    width: 100%;
    font-size: 5em;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .main-header__link {
    margin-bottom: 20px;
  }
  .main-header__btn{
    width: 130px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
  }
  .main-nav{
    visibility: visible;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;
  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }
  .container-products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product__img {
    height: 150px;
  }
  .container__testimonials{
    font-size: 1.3em; 
  }
  .container-editor{
    display: flex;
    justify-content: space-between;
  }
  .editor__item{
    width: 48%;
  }
  .main-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .copy {
    grid-column-start: span 4;
    text-align: center;
  }
}

@media screen and (min-width:1280px) { 
  .container{
    width: 1200px;
  }
  .main-header__container:nth-child(3){
    padding-left: 60px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.3em;
  }
  .slider{
    height: 500px;
    font-size: 1.5em;
  }
  
}

@media screen and (min-width:1600px) { 
  .container{
    width: 1500px;
  }
  .main-header__container:nth-child(3){
    padding-left: 150px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .slider{
    height: 600px;
  }
  .product__img {
    height: 200px;
  }
}